.user
  a.user__name(href="#")
    .user__name-icon
      svg(aria-hidden="true")
        use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#user")
    | Владимир Семёнович
  a.user__notification(href="#")
    .user__notification-icon
      svg(aria-hidden="true")
        use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#actions")
    | Уведомления
    span.user__notification-value  8

