.registration
  a.link.main-header__login(href="#")
    .main-header__login-icon
      svg(aria-hidden="true")
        use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#entry")
    |Вход
  a.link.main-header__registration(href="#")
    .main-header__registration-icon
      svg(aria-hidden="true")
        use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#register")
    |Регистрация
