@font-face {
  font-family: 'AkzidenzGroteskPro';
  font-style: normal;
  font-weight: 400;
  src: local('Akzidenz-Grotesk Pro Regular'),
    url(../fonts/AkzidenzGroteskPro-Regular.otf);
}

@font-face {
  font-family: 'AkzidenzGroteskPro';
  font-style: normal;
  font-weight: 500;
  src: local('Akzidenz-Grotesk Pro Med'),
    url(../fonts/AkzidenzGroteskPro-Md.otf);
}

@font-face {
  font-family: 'AkzidenzGroteskPro';
  font-style: normal;
  font-weight: 700;
  src: local('Akzidenz-Grotesk Pro Bold'),
    url(../fonts/AkzidenzGroteskPro-Bold.otf);
}
