.container {
  max-width: 1200px;
  margin: 0 auto;
}

.grid {
  @include grid($gutter: 15px);

  background-color: hsla(250, 20%, 50%, .4);
  color: #fff;
  // margin: 0 -10px;


  @for $i from 1 through 12 {
    & > .grid__col-#{$i} {
      background-color: hsla(250, 50%, 50%, .7);
      // padding: 10px;

      @include grid-col($col: $i, $gutter: 15px);
    }
  }
}




