section.features
  button.features__close(type="button", data-close="btn") Закрыть
  .features__container
    .features__row(data-slider="mobile", data-slider-dots="light")
      .features-item
        .features-item__icon
          svg(aria-hidden="true", height="88", width="88")
            use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#big_bistro")
        .features-item__title Быстро
        .features-item__desc Первое предложение появляется в течение 20 минут
      .features-item
        .features-item__icon
          svg(aria-hidden="true", height="82", width="82")
            use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#big_deshevo")
        .features-item__title Выгодно
        .features-item__desc Стоимость услуг ниже рыночных, в среднем, на -30%
      .features-item
        .features-item__icon
          svg(aria-hidden="true", height="96", width="96")
            use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#big_chestno")
        .features-item__title Честно
        .features-item__desc 201 отзыв от клиентов со средним рейтингом 4.5 из 5
      .features-item
        .features-item__icon
          svg(aria-hidden="true", height="96", width="96")
            use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#mnogo")
        .features-item__title Много
        .features-item__desc 34 590 машин ждут вашего заказа в любое время суток
    .features__more
      .features__more-icon
      a.features__more-title(href="#") Узнать подробнее, как мы работаем
    .features__wrap
      .features__video#features__video
      button.features__btn(type="button") Свернуть
