@mixin retina {
  @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$width-desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$width-desktop}) {
    @content;
  }
}
