.select {
  .ui-button {
    width: 100%;
    border-radius: 0;
    padding: 8px 10px;
    border: 1px solid $color-gray-91;
    background-color: transparent;
    font-size: 1em;
    font: $font;
    color: $color-gray-64;

    &:hover {
      border-color: $color-gray-85;
    }

    &:focus {
      outline: none;
    }

    &:active {
      border-color: $color-main;
    }
  }

  .ui-button .ui-icon {
    display: block;
    width: 1px;
    height: 1px;
    border: 6px solid transparent;
    border-top-color: $color-text;
    position: absolute;
    right: 10px;
    top: calc(50% - 3px);
  }

  &--error {
    .ui-button {
      border-color: red;
    }
  }

  .ui-corner-all, .ui-corner-bottom, .ui-corner-br, .ui-corner-right {
    border-radius: 0 !important;
  }

  .ui-widget {
    font-size: 1em;
  }
}

.ui-selectmenu-open * {
  box-sizing: border-box;
  font: $font;
}

.chosen-container {
  width: 100%;

  .chosen-choices,
  .chosen-single {
    font-size: 1rem;
    padding: 4px 8px;
    padding-right: 30px;
    box-sizing: border-box;
    background: none;
    box-shadow: none;
    min-height: 39px;
    line-height: 28px;
    border-radius: 0;
  }
}

.chosen-container-multi .chosen-choices li.search-field input[type=text],
.chosen-container-single .chosen-choices li.search-field input[type=text] {
  height: auto;
  margin: 0;
}

.chosen-container-multi .chosen-choices,
.chosen-container-single .chosen-single {
  border: 1px solid $color-gray-91;

  &:hover {
    border-color: $color-gray-64;
  }
}

.chosen-container-active .chosen-choices {
  border-color: $color-main;

  &:hover {
    border-color: $color-main;
  }
}

.chosen-container-multi .chosen-choices li.search-choice,
.chosen-container-single .chosen-choices li.search-choice {
  margin: 0;
  line-height: 28px;
  padding: 0 7px;
  margin-right: 4px;
  border: none;
  background-color: $color-gray-91;
  border-radius: 0;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close,
.chosen-container-single .chosen-choices li.search-choice .search-choice-close,
.chosen-container-single .chosen-single abbr {
  @include close();

  position: static;
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  font-size: 0;
  margin-right: 0;
  margin-left: 7px;
}

.chosen-container .chosen-results li {
  padding: 8px 11px;
  font-size: 1rem;
  line-height: $line-height;
}

.chosen-container .chosen-results li em {
  text-decoration: none;
  font-weight: 700;
}

.chosen-container .chosen-results li.highlighted {
  background: none;
  background-color: $color-gray-91;
  color: $color-text;

  &:active {
    background-color: $color-gray-85;
  }
}

.chosen-container-active.chosen-with-drop .chosen-single {
  border-radius: 0;
  box-shadow: none;
  background: none;
  margin: 0;
}

.chosen-container .chosen-results {
  margin: 0;
  padding: 0;
}

.chosen-single {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: calc(50% - 3px);
    right: 10px;
    display: block;
    width: 1px;
    height: 1px;
    border: 6px solid transparent;
    border-top-color: $color-text;
  }
}

.chosen-choices {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: calc(50% - 3px);
    right: 10px;
    display: block;
    width: 16px;
    height: 2px;
    background-color: currentColor;
  }

  &::after {
    content: '';
    position: absolute;
    top: calc(50% - 3px);
    right: 10px;
    display: block;
    width: 16px;
    height: 2px;
    transform: rotate(90deg);
    background-color: currentColor;
  }
}
