meta(charset="utf-8")/
script.
  document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

link(rel="stylesheet", href="css/style.min.css")
link(rel="icon", href="img/favicon.ico", type="image/x-icon")

meta(name="viewport",content="width=device-width, initial-scale=1")
meta(name="SKYPE_TOOLBAR",content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
meta(name="format-detection",content="telephone=no")
meta(http-equiv="X-UA-Compatible",content="IE=edge")

//- base(href="https://miospace.github.io/unirented/")
