mixin rent-item(title, pick)
  article.rent-item
    a.rent-item__header(href="#")
      .rent-item__pick
        svg(aria-hidden="true")
          use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#" + pick)
      .rent-item__title= title
    .rent-item__desc
      - var items = ["New Holland", "Hidromek", "MT3", "Case", "Komatsu", "Hyndai"];
        each item in items
          a(href="#")= item


