extends pug/layout/base.pug

block title
  title Grid test page

mixin grid(items)
  .container
    .grid
      - var x = items;
      - for (var i = 0; i < x; i++)
        div(class='grid__col-'+(12/x)) col-#{12/x}

block content
  +grid(3)
  +grid(6)


