extends pug/layout/base.pug

block title
  title Главная страница

block content
  include pug/components/features
  include pug/components/rent/rent
  include pug/components/works/works
  include pug/components/fresh/fresh
  include pug/components/reviews/reviews
  include pug/components/posted






