include works-item

section.works
  .works__title Выполнение&nbsp;
    a.works__title-link(href="#") работ
  .works__subtitle.prompt.prompt--question Вы оказываете услуги?&nbsp;
    a.works__subtitle-link.link(href="#") Получайте заказы
  a.works__btn(href="#", data-title="Заказать", data-post="btn") Разместить заказ
  .works__main
    +works-item(
      "Демонтаж",
      "Снос зданий, демонтаж металлоконструкций",
      "13"
    )
    +works-item(
      "Земляные работы",
      "Рытьё котлованов, карьеров, прокладка кабеля",
      "14"
    )
    +works-item(
      "Грузоперевозки",
      "Крупногабаритные грузы, вывоз мусора, переезды",
      "15"
    )
    +works-item(
      "Погрузочные работы",
      "Портовые работы, погрузка труб, погрузка пиломатериалов",
      "16"
    )
    +works-item(
      "Строительство",
      "Строительство коттеджей, фундаменты",
      "17"
    )
    +works-item(
      "Дорожные работы",
      "Отсыпка дорог, укладка асфальта, подготовка",
      "18"
    )
  .works__hide(data-hide="wrap")
    .works__main
      +works-item(
        "Демонтаж",
        "Снос зданий, демонтаж металлоконструкций",
        "13"
      )
      +works-item(
        "Земляные работы",
        "Рытьё котлованов, карьеров, прокладка кабеля",
        "14"
      )
      +works-item(
        "Грузоперевозки",
        "Крупногабаритные грузы, вывоз мусора, переезды",
        "15"
      )
      +works-item(
        "Погрузочные работы",
        "Портовые работы, погрузка труб, погрузка пиломатериалов",
        "16"
      )
      +works-item(
        "Строительство",
        "Строительство коттеджей, фундаменты",
        "17"
      )
      +works-item(
        "Дорожные работы",
        "Отсыпка дорог, укладка асфальта, подготовка",
        "18"
      )
  footer.works__footer
    .works__footer-title.prompt.prompt--statement
      strong Подсказка.
      |  Показаны наиболее популярные услуги
    button.works__footer-btn.btn(type="button", data-hide="btn") Показать все услуги

  include ../posted


